:root {
  --ff-primary: "Open Sans";
  --ff-display: "Raleway";
}
@responsive {
  .aa {
    grid: auto-flow / minmax(0, 1fr) auto;
  }
  .ab {
    grid: auto-flow / 47% 1fr;
  }

  .ac {
    grid: 1fr / auto-flow 1fr 44%;
  }

  .ad {
    grid: auto-flow / repeat(2, max-content);
  }

  .ae {
    grid: auto-flow / 2fr 1fr 1fr 2fr;
  }
}

/* Icons */

.phone:before {
  content: "";
  background: url("~assets/icons/phone.svg") center / contain no-repeat;
  display: inline-block;
  width: 1.1rem;
  aspect-ratio: 1/1;
}

.email:before {
  content: "";
  background: url("~assets/icons/email.svg") center / contain no-repeat;
  display: inline-block;
  width: 1.1rem;
  aspect-ratio: 1/1;
}

.testimonial:before {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  display: block;
  position: absolute;
  top: -1rem;
  left: 0px;
  background: url("~assets/icons/quotes.svg") center / contain no-repeat;
}

.see-how:after {
  content: "";
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background: url("~assets/icons/arrow.svg") center / contain no-repeat;
}
