:root {
  --cl-primary-100: hsl(243, 87%, 12%);
  --cl-primary-400: hsl(238, 22%, 44%);
  --cl-accent-400: hsl(170, 45%, 43%);
  --cl-accent-500: hsl(224, 93%, 58%);
  --cl-neutral-700: hsl(0, 0%, 75%);
  --cl-neutral-900: hsl(240, 75%, 98%);
  --cl-bg-wave: #f8f8fe;

  --ff-primary: "Open Sans";
  --ff-display: "Raleway";

  --icon-arrow: url("~assets/icons/arrow.svg");
  --icon-quotes: url("~assets/icons/quotes.svg");
  --icon-phone: url("~assets/icons/phone.svg");
  --icon-email: url("~assets/icons/email.svg");

  --bg-wave: url("~assets/bg/bg-curve-mobile.svg");
}

* {
  @apply focus:outline-none focus:ring focus:ring-accent-400 focus:ring-offset-4;
}
input:focus {
  @apply focus:outline-none focus:ring focus:ring-accent-400 focus:ring-offset-4;
}

@screen lg {
  :root {
    --bg-wave: url("~assets/bg/bg-curve-desktop.svg");
  }
}

@layer base {
  address {
    @apply not-italic;
  }
}

@layer utilities {
  @variants responsive {
    .grid-2-cols-right {
      grid: auto-flow / 47% 1fr;
    }

    .grid-2-cols-left {
      grid: 1fr / auto-flow 1fr 44%;
    }

    .grid-2-cols-form {
      grid: auto-flow / max(20em) 30%;
    }

    .grid-footer-links {
      grid: auto-flow / 2fr 1fr 1fr 2fr;
    }
  }
}

h2 {
  @apply text-primary-100;
}

body {
  @apply w-full min-h-screen;
  @apply font-primary text-base text-primary-100;
}

.container {
  @apply w-full max-w-xl;
  @apply px-6 xl:px-14;
  @apply mx-auto;
}

/* Header */

header {
  @apply py-6 sm:py-14;
  @apply flex flex-row justify-between items-center;
}

.header__logo {
  @apply max-w-5xs object-contain;
}

header nav {
  @apply align-middle capitalize;
  @apply text-xs sm:text-base;
  @apply space-x-2 xs:space-x-6 sm:space-x-10;
  @apply sm:mr-3;
}

header .nav__item {
  @apply hover:text-accent-400;
}

/* Main */

.features {
  @apply pt-16 lg:pt-2;
  @apply space-y-44 xs:space-y-36 xl:space-y-80;
  @apply text-center md:text-left;
}

.feature {
  @apply grid grid-cols-1 place-items-center;
}

.feature--accesible {
  @apply gap-x-6 gap-y-8;
  @apply md:grid-2-cols-right;
}

.feature--productive {
  @apply pb-16 lg:pb-24;
  @apply gap-x-12 gap-y-20;
  @apply md:grid-2-cols-left;
}

.feature__info {
  @apply max-w-xs lg:max-w-sm;
  @apply grid grid-cols-1 place-items-center;
  @apply md:justify-self-start md:place-items-start;
  @apply gap-y-9 xl:gap-y-5;
}

.feature__info--productive {
  @apply gap-y-10 xl:gap-y-14;
}

.feature__about {
  @apply space-y-7;
}

.feature__headline {
  @apply font-bold;
  @apply text-2xl md:text-xl lg:text-3xl xl:text-4xl;
  @apply lg:font-display xl:leading-normal;
}

.feature__headline--productive {
  @apply xs:min-w-max;
  @apply text-base xs:text-2xl md:text-xl lg:text-3xl xl:text-4xl;
}

.feature__text {
  @apply mx-auto md:mx-0;
  @apply max-w-2xs xs:max-w-xs;
  @apply font-primary leading-relaxed text-sm lg:text-base;
}

.feature__text--productive {
  @apply max-w-xs;
  @apply space-y-5 xs:space-y-3;
  @apply text-left xs:text-center md:text-left;
}

.feature__cta-link {
  @apply w-max;
  @apply px-0 pt-3 xl:pt-0;
  @apply mx-auto md:mx-0;
  @apply text-xs;
  @apply text-accent-400 border-accent-400;
  @apply pb-1 border-b-2;
  @apply flex gap-x-2 items-center justify-between;
  @apply hover:font-bold focus:border-0;
}

.feature__cta-link:after {
  content: "";
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background: var(--icon-arrow) center / contain no-repeat;
}

@screen lg {
  .subscription__error {
    top: 100%;
  }
}

.feature__img {
  @apply w-full max-w-2xs object-contain md:max-w-md md:order-2;
  @apply place-self-center;
}

.feature__img--productive {
  @apply md:row-span-full;
}

.feature__review {
  @apply w-72;
  @apply pl-7 pr-1 py-8;
  @apply space-y-3;
  @apply bg-neutral-900 shadow-xl;
}

.review__text {
  @apply relative;
  @apply text-xs text-left leading-relaxed;
}

.review__text:before {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  display: block;
  position: absolute;
  top: -1rem;
  left: 0px;
  background: var(--icon-quotes) center / contain no-repeat;
}

.review__reviewer {
  @apply flex items-center gap-2;
  @apply text-left text-2xs leading-relaxed tracking-widest;
}

.reviewer__avatar {
  @apply w-6 object-contain rounded-full;
}

.reviewer__name {
  @apply block font-bold;
}

.reviewer__highlights {
  @apply block text-3xs;
}

.cta {
  @apply max-w-xl;
  @apply py-14 xl:px-14 xl:py-24;
  @apply grid  gap-x-12 gap-y-10;
  @apply grid-cols-1 lg:grid-2-cols-left;
  @apply items-start justify-items-center lg:justify-items-start;
  @apply text-center lg:text-left;
}

.cta__bg {
  @apply bg-primary-400 text-neutral-900;
}

.cta * {
  @apply ring-offset-primary-400;
}

.cta__lead {
  @apply row-span-2 space-y-4;
}

.cta__heading {
  @apply text-neutral-900 font-bold text-lg xs:text-2xl xl:text-3xl;
}
.cta__text {
  @apply max-w-3xs xs:max-w-xs;
  @apply text-sm leading-relaxed;
}

/* Footer */

footer {
  @apply bg-primary-100 text-neutral-900;
}

footer * {
  @apply ring-offset-primary-100;
}

.footer {
  @apply w-full py-16 space-y-10;
  @apply md:py-20;
  @apply md:space-y-5;
}

.footer__logo {
  @apply filter brightness-0 invert object-contain;
  @apply xs:mx-auto md:mx-0;
}

.footer__links {
  @apply w-full grid;
  @apply gap-x-10 md:gap-x-20 gap-y-12;
  @apply grid-cols-1 xs:grid-cols-2 sm:grid-cols-6 md:grid-footer-links;
  @apply xs:place-items-center md:items-start;
  @apply text-neutral-900;
}

.footer__contact {
  @apply col-span-full xs:col-span-1 sm:col-span-3 md:col-span-1;
  @apply xs:order-2 md:order-none;
  @apply md:justify-self-start;
  @apply space-y-4;
  @apply xs:text-xs lg:text-base;
}

.footer__nav {
  @apply flex flex-col sm:flex-row md:flex-col;
  @apply gap-x-10 gap-y-4;
  @apply sm:col-span-3 md:col-span-1;
  @apply md:justify-self-center xl:justify-self-start;
  @apply text-base sm:text-sm lg:text-base;
}

.footer__nav--left {
  @apply sm:justify-self-end md:justify-self-center xl:justify-self-start;
}

.footer__nav--right {
  @apply sm:justify-self-start md:justify-self-center xl:justify-self-start;
}

footer .nav__item {
  @apply w-max;
  @apply hover:text-neutral-700;
}

.footer__social {
  @apply md:my-0;
  @apply justify-self-center xl:justify-self-start;
  @apply col-span-full sm:col-span-3 md:col-span-1 xs:col-span-1;
  @apply xs:order-last md:order-none;
  @apply space-x-3;
  @apply font-bold;
}

.social__link {
  @apply leading-7 w-7 h-7;
  @apply rounded-full border;
  @apply align-middle text-center;
  @apply inline-block;
}

.social__link:hover {
  @apply text-neutral-700 border-neutral-700;
}
.contact__data {
  @apply w-max flex gap-x-4 items-center;
  @apply hover:text-neutral-700;
}

.contact__data--phone:before {
  content: "";
  background: var(--icon-phone) center / contain no-repeat;
  display: inline-block;
  width: 1.1rem;
  aspect-ratio: 1/1;
  filter: contrast(200%);
}

.contact__data--phone:hover:before {
  filter: contrast(1);
}
.contact__data--email:before {
  content: "";
  background: var(--icon-email) center / contain no-repeat;
  display: inline-block;
  width: 1.1rem;
  aspect-ratio: 1/1;
  filter: contrast(200%);
}

.contact__data--email:hover:before {
  filter: contrast(1);
}
/* Forms */

.feature__subscription-form {
  @apply w-full md:w-11/12 relative;
  @apply max-w-2xs lg:max-w-xl;
  @apply grid grid-cols-1 gap-4;
  @apply justify-items-center md:justify-items-start;
  @apply xl:grid-2-cols-form;
  @apply xl:mt-2;
}

.subscription__email {
  @apply w-full max-w-2xs leading-loose;
  @apply form-input rounded-sm;
  @apply text-sm;
  @apply text-primary-100;
  @apply focus:border-0;
}

.subscription__email::placeholder {
  @apply text-neutral-700;
}

.subscription__error {
  @apply w-full hidden absolute pl-2;
  @apply text-red-400 text-xs font-bold;
  top: -1.2rem;
  left: 0;
}

.subscription__error--cta {
  @apply text-primary-100;
}

.subscription__email--accessible,
.subscription__error--accessible {
  @apply text-center md:text-left;
}

.subscription__email--cta,
.subscription__error--cta {
  @apply text-center lg:text-left;
}

.subscription__email:invalid:focus {
  @apply focus:ring focus:ring-offset-0 focus:ring-red-400;
  @apply focus:border-0;
}

.subscription__email:invalid + .subscription__error {
  @apply block;
}

.cta__subscription-form {
  @apply w-full relative;
  @apply max-w-2xs md:max-w-xs;
  @apply row-span-2 grid grid-cols-1 gap-4;
  @apply self-center justify-self-center lg:justify-self-start;
  @apply justify-items-center lg:justify-items-start;
}

/* buttons */

.btn__cta {
  @apply inline-block;
  @apply w-full min-w-max xs:max-w-5xs;
  @apply px-3 py-3;
  @apply text-sm font-bold capitalize;
  @apply align-middle leading-none text-center;
  @apply bg-accent-500 text-neutral-900;
  @apply rounded-sm filter drop-shadow-xl;
  @apply hover:bg-accent-400;
}

/* backgrounds */

.feature-bg--productive {
  background: var(--cl-bg-wave);
}

.feature-bg--productive:before {
  content: "";
  background: var(--bg-wave) bottom left / contain no-repeat;
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: 100vh;
  left: 0;
  display: block;
  z-index: -1;
}
