/* --animate-margin-top: margin between p & summary elements */
/* --animate-line-height: desirable line height for the content */
/* --animate-max-height: minimum height (aprox) of the estimated maximum height for all the text boxes when expanded */

/* To get a nice and soft effect the animation must first increase the line-height, then the top margin and then the max-height. */
/* We set the line-height to 0 as a way to prevent the default browser without using JS.   */
/* Be aware that JS solution is much more complete as it lets animate the close as well and let you animate the whole group. */
/* Meaning that when one summary is open the others change their state to close. You cannot do this with only CSS.   */

.faq {
  --animate-margin-top: 0.5rem;
  --animate-line-height: 1.5;
  --animate-max-height: 5rem;
  --animate-duration: 0.3s;
}

.faq__question {
  line-height: 1;
}

.faq__answer {
  margin-top: 0;
  line-height: 0px;
  max-height: 0;
  overflow: hidden;
}

.faq[open] {
  font-weight: var(--ff-bold);
}

.faq[open] .faq__answer {
  animation-name: increaseMaxWidth, increaseMarginTop, increaseLineHeight;
  animation-duration: var(--animate-duration), 0s, 0s;
  animation-delay: 0s, 0s, 0s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.faq[open] .question__icon {
  animation: var(--animate-duration) linear 0s 1 forwards rotateArrow;
}

@keyframes increaseLineHeight {
  0%,
  99% {
    line-height: 0;
  }
  100% {
    line-height: var(--animate-line-height);
  }
}

@keyframes increaseMarginTop {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: var(--animate-margin-top);
  }
}

@keyframes increaseMaxWidth {
  0% {
    max-height: 0;
  }
  100% {
    max-height: var(--animate-max-height);
  }
}

@keyframes rotateArrow {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-180deg);
  }
}
