.faq {
  --animate-line-height: 1.5;
  --animate-max-height: 5rem;
  --animate-duration: 0.5s;
}

.faq__answer {
  line-height: var(--animate-line-height);
  max-height: var(--animate-max-height);
}

.fallbackNoJS .faq__answer {
  line-height: 0px;
  max-height: 0;
  overflow: hidden;
}

.faq[open] {
  font-weight: var(--ff-bold);
}

.fallbackNoJS .faq[open] .faq__answer {
  animation-name: increaseMaxWidth, increaseLineHeight;
  animation-duration: var(--animate-duration), 0s;
  animation-delay: 0s, 0s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.faq[open] .question__icon {
  animation: calc(var(--animate-duration) * 0.5) linear 0s 1 forwards rotateArrow;
}

@keyframes increaseLineHeight {
  0%,
  99% {
    line-height: 0;
  }
  100% {
    line-height: var(--animate-line-height);
  }
}

@keyframes increaseMaxWidth {
  0% {
    max-height: 0;
  }
  100% {
    max-height: var(--animate-max-height);
  }
}

@keyframes rotateArrow {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-180deg);
  }
}
