body {
  width: 100%;
  display: grid;
  background: linear-gradient(to bottom, #a667e9, #6a63e7);
}

main {
  @apply w-full min-h-screen;
  @apply px-6 py-36;
  display: grid;
  grid: 1fr / 1fr;
  justify-items: center;
  align-items: start;
}
