body {
  @apply min-h-screen w-full;
  @apply grid place-items-center;
  background: linear-gradient(to bottom, #a667e9, #6a63e7);
}

main {
  @apply w-full;
  @apply px-6;
  @apply my-40 lg:my-20;
  display: grid;
  height: max-content;
  grid: 1fr / 1fr;
  justify-items: center;
  align-items: center;
}
