:root {
  --bg-women-mobile: url("~assets/bg/illustrations/woman-mobile.svg");
  --bg-women-desktop: url("~assets/bg/illustrations/woman-desktop.svg");
  --bg-shadow-mobile: url("~assets/bg/shadows/shadow-mobile.svg");
  --bg-shadow-desktop: url("~assets/bg/shadows/shadow-desktop.svg");
  --bg-box-desktop: url("~assets/bg/illustrations/box-desktop.svg");
}

/* Reset */
details > summary {
  list-style: none;
}
details > summary::marker {
  display: none;
}

/* Theme*/
.wrapper {
  background: white;
  position: relative;
  background: top center no-repeat, white;
  background-image: var(--bg-shadow-mobile);
  z-index: 0;
}

.wrapper:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  inset: -7rem 0;
  background: top center no-repeat, transparent;
  background-image: var(--bg-women-mobile);
  z-index: -1;
}

.faqs .faq {
  border-bottom: 1px solid black;
}

.faq__question {
  display: flex;
  justify-content: space-between;
}

.question__icon {
  display: block;
  object-fit: contain;
  cursor: pointer;
}

/* Typography */
body {
  --ff-primary: "Kumbh Sans";
  --ff-bold: 700;
  @apply font-primary text-sm;
}

p {
  max-width: 64ch;
  font-weight: normal;
}

.faqs__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--ff-bold);
  @apply text-4xl;
}

/* Layout */
.wrapper {
  @apply p-6 rounded-xl;
  width: 100%;
  max-width: 30rem;
  min-width: 19rem;
}

.faqs__title {
  @apply mt-28 mb-6;
}

.faqs {
  @apply mb-20;
}

.faq {
  @apply py-4;
}

.faq__question {
  width: 100%;
}

/* Responsive */

/* Interactive */

.question__text {
  @apply hover:font-bold;
  cursor: pointer;
}

/* Utilities - NO-FOUT */
.no-fout {
  --fout-latency: 0.6s;
  animation: noPaint var(--fout-latency) 1 forwards;
}

.no-fout {
  visibility: hidden;
}

@keyframes noPaint {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@media (prefers-reduced-motion) {
  .no-fout {
    visibility: visible;
  }
}
