/* Typography */
body {
  --ff-primary: "Kumbh Sans";
  --ff-bold: 700;
  @apply font-primary text-sm;
}

p {
  max-width: 64ch;
  font-weight: normal;
}

.faqs__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--ff-bold);
  @apply text-4xl;
}

/* Utility - NO-FOUT */
/* I use this personal utility to prevent the FOUT problem of Google Fonts */
.no-fout {
  --fout-latency: 0.6s;
  animation: noPaint var(--fout-latency) 1 forwards;
}

.no-fout {
  visibility: hidden;
}

@keyframes noPaint {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@media (prefers-reduced-motion) {
  .no-fout {
    visibility: visible;
  }
}
