/* Typography */

:root {
  --cl-text-body: #1d1b31ee;
  --cl-text-display: #1d1b31;
}

body {
  --ff-primary: "Kumbh Sans";
  --ff-bold: 700;
  color: var(--cl-text-body);
  @apply font-primary text-xs;
}

p {
  max-width: 64ch;
  font-weight: normal;
}

.faqs__title {
  color: var(--cl-text-display);
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--ff-bold);
  font-size: clamp(2rem, 8vw, 2.5rem);
  @apply lg:text-3xl;
}

/* Interactive */

.question__text,
.question__text:active,
.question__text:target,
.question__text:focus {
  font-weight: normal;
}
:is(.faq__question:hover, .faq[open]) .question__text {
  color: var(--cl-text-display);
  @apply font-bold;
}

/* Utility - NO-FOUT */
/* I use this personal utility to prevent the FOUT problem of Google Fonts */
.no-fout {
  --fout-latency: 0.6s;
  animation: noPaint var(--fout-latency) 1 forwards;
}

.no-fout {
  visibility: hidden;
}

@keyframes noPaint {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@media (prefers-reduced-motion) {
  .no-fout {
    visibility: visible;
  }
}
