.social-nav {
  @apply space-x-2;
  @apply place-self-center;
  @apply md:col-span-full;
  @apply lg:col-span-1 lg:place-self-start;
}

.social-nav__item {
  @apply p-2;
  @apply border-gray-400 border rounded-full;
  @apply lg:p-1;
  @apply group hover:border-primary-600 hover:text-primary-600;
}

.social-nav__item svg {
  @apply lg:w-3 lg:h-3;
  @apply fill-current;
}
