:root {
  --cl-primary-600: hsl(322, 100%, 66%);
  --cl-primary-700: hsl(321, 100%, 78%);
  --cl-secondary-600: hsl(198, 95%, 64%);
  --cl-accent-600: hsl(0, 100%, 63%);
  --cl-neutral-000: hsl(192, 100%, 9%);
  --cl-neutral-100: hsl(192, 44%, 16%);
  --cl-neutral-900: hsl(207, 100%, 98%);

  --ff-primary: "Open Sans";
  --ff-display: "Poppins";

  --bg-wave1-top-desktop: url("~assets/bg/wave1-top-desktop.svg");
  --bg-wave1-top-mobile: url("~assets/bg/wave1-top-mobile.svg");
  --bg-wave1-bottom-desktop: url("~assets/bg/wave1-bottom-desktop.svg");
  --bg-wave1-bottom-mobile: url("~assets/bg/wave1-bottom-mobile.svg");
  --bg-wave2-top-desktop: url("~assets/bg/wave2-top-desktop.svg");
  --bg-wave2-top-mobile: url("~assets/bg/wave2-top-mobile.svg");
  --bg-wave2-bottom-desktop: url("~assets/bg/wave2-bottom-desktop.svg");
  --bg-wave2-bottom-mobile: url("~assets/bg/wave2-bottom-mobile.svg");
  --bg-wave-footer-desktop: url("~assets/bg/wave-footer-desktop.svg");
  --bg-wave-footer-mobile: url("~assets/bg/wave-footer-mobile.svg");

  --icon-communities: url("~assets/icon/communities.svg");
  --icon-messages: url("~assets/icon/messages.svg");
  --icon-phone: url("~assets/icon/phone.svg");
  --icon-email: url("~assets/icon/email.svg");
}

* {
  @apply focus:outline-none focus:ring focus:ring-secondary-600 focus:ring-offset-4;
}

html {
  @apply xs:text-xl lg:text-3xl;
}

body {
  max-width: 1400px;
  @apply mx-auto;
  @apply text-base font-primary text-center text-neutral-000;
}

.btn {
  @apply w-max block;
  @apply capitalize align-middle;
  @apply text-neutral-900 bg-primary-600 font-bold;
}

.btn__brand {
  @apply px-5 lg:px-3 py-1;
  @apply text-primary-600 font-normal;
  @apply text-1xs lg:text-2xs;
  @apply bg-transparent border-2 border-solid border-current rounded-xl;
  @apply hover:text-primary-700 active:text-primary-600;
}

.btn__cta {
  @apply px-12 lg:px-9 py-3;
  @apply mx-auto my-6;
  @apply text-xs font-bold;
  @apply bg-primary-600 text-neutral-900;
  @apply rounded-3xl shadow-2xl;
  @apply transition-shadow;
}

.btn__subscribe {
  @apply px-10 xs:px-16 lg:px-4 py-3 lg:py-1;
  @apply lg:text-2xs;
  @apply rounded-md lg:rounded-sm;
  @apply self-end xs:self-center lg:self-stretch;
}

.btn,
a {
  @apply hover:ring-0 active:ring-0;
}

footer .btn,
footer a {
  @apply ring-offset-neutral-000;
}

.btn__cta,
.btn__subscribe {
  @apply hover:bg-primary-700 hover:shadow-none focus:shadow-none;
  @apply active:bg-primary-600;
}

.brand {
  @apply w-11/12 mx-auto;
  @apply my-6 lg:my-9 lg:px-2;
  @apply flex justify-between items-center;
}

.brand__logo {
  @apply w-24 lg:w-28;
  @apply object-contain;
  @apply filter contrast-200;
}

.hero {
  @apply w-10/12 mx-auto;
  @apply mt-28;
  @apply flex flex-col justify-between items-center;
}

.hero__title {
  @apply text-2xl lg:text-2xl;
  @apply font-display leading-snug font-bold capitalize;
}

.hero__lead {
  @apply max-w-sm lg:max-w-xs;
  @apply text-sm lg:text-1xs;
  @apply my-6 lg:my-4;
}

.hero__banner {
  @apply w-4/5 lg:w-2/3 mx-auto;
  @apply my-20 lg:my-12;
  @apply object-contain;
}

.stats {
  @apply w-full md:w-4/5 lg:w-3/5 mx-auto;
  @apply my-40 lg:mt-20 lg:mb-8;
  @apply flex  items-center;
  @apply flex-col md:flex-row;
  @apply justify-around md:justify-around lg:justify-between;
  @apply gap-y-24;
}

.stat__mark {
  @apply block relative;
  @apply text-6xl lg:text-5xl;
  @apply font-bold;
}

.stat__label {
  @apply block;
  @apply my-4;
  @apply text-base lg:text-xs;
  @apply capitalize;
  @apply lg:tracking-normal;
  filter: contrast(0.1);
}

.features {
  @apply w-full mx-auto;
  @apply my-0 lg:my-40;
  @apply flex flex-col;
  @apply gap-y-52 xs:gap-y-40 lg:gap-y-44;
}

.feature {
  @apply py-10;
}

.feature__content {
  @apply w-10/12 mx-auto;
  @apply flex flex-col md:flex-row justify-between items-center;
  @apply justify-between items-center;
  @apply gap-y-10;
  @apply text-center md:text-left;
}

.feature__image {
  @apply w-11/12 md:w-64 lg:w-56 xl:w-64;
  @apply md:w-64 lg:w-56 xl:w-64;
  @apply object-contain;
}

.feature__about {
  @apply md:w-5/12;
  @apply my-7;
  @apply md:text-left;
}

.feature__heading {
  @apply w-max mx-auto md:mx-0 md:mr-auto;
  @apply text-xl md:text-2xl lg:text-xl;
  @apply font-bold font-display capitalize;
}

.feature__description {
  @apply mt-4;
  @apply text-sm md:text-xs lg:text-2xs;
  @apply leading-relaxed;
}

.feature:nth-child(odd) .feature__content {
  @apply md:flex-row-reverse;
}

.feature:nth-child(odd) .feature__image {
  @apply md:mr-3;
}

.feature:nth-child(even) .feature__about {
  @apply md:mr-3;
}

.cta {
  @apply mt-64 mb-0 xs:my-40;
}

.cta__title {
  @apply text-2xl lg:text-xl;
  @apply font-bold font-display leading-normal capitalize;
  @apply lg:tracking-tight;
}

footer {
  @apply mt-96 xs:mt-56;
  @apply text-neutral-900;
  @apply relative;
  @apply bg-neutral-000;
}

.footer__container {
  @apply w-4/5 mx-auto xs:max-w-sm lg:max-w-none;
  @apply flex flex-col lg:flex-row-reverse lg:justify-between lg:items-start;
  @apply pt-20 gap-y-24;
  @apply text-sm lg:text-3xs leading-normal;
  @apply text-left xs:text-center lg:text-left;
}

.footer__newsletter {
  @apply w-full lg:w-5/12;
  @apply flex flex-col lg:items-start xs:items-center;
}

.newsletter__title {
  @apply text-xl lg:text-xs;
  @apply uppercase font-bold;
}

.newsletter__desc {
  @apply lg:w-8/12;
  @apply my-4 lg:my-2;
  @apply font-semibold;
}

.newsletter__subscribe {
  @apply xs:w-full;
  @apply my-5 lg:my-3;
  @apply flex flex-col lg:flex-row;
  @apply items-start xs:items-center;
  @apply gap-x-3 gap-y-4;
}

.subscribe__email {
  @apply w-full relative;
}

.email__field {
  @apply w-full;
  @apply px-2 lg:px-1 py-3 lg:py-1;
  @apply lg:text-3xs;
  @apply text-right xs:text-center lg:text-left;
  @apply text-black;
  @apply rounded-md lg:rounded-sm;
}

.email__error {
  @apply hidden;
  @apply absolute;
  @apply my-1;
  @apply text-xs text-accent-600;
  bottom: 100%;
  left: 0;
}

@screen lg {
  .email__error {
    top: 100%;
    @apply text-3xs;
  }
}

.email__field:invalid {
  @apply ring-2 ring-accent-600;
}

.email__field:invalid + .email__error {
  @apply block;
}

.footer__contact {
  @apply lg:w-1/4;
  @apply lg:justify-self-start xs:items-center;
  @apply xs:text-center lg:text-left;
}

.contact__logo {
  @apply w-48 xs:w-1/2 lg:w-9/12;
  @apply xs:mx-auto lg:mx-0;
  @apply filter brightness-0 invert;
}

.contact__desc {
  @apply my-4 xs:my-8 lg:my-4;
  @apply leading-normal font-semibold;
}

.contact__channels {
  @apply w-min;
  @apply xs:mx-auto lg:mx-0;
  @apply my-10 lg:my-2;
  @apply space-y-4 lg:space-y-2;
  @apply text-sm lg:text-2xs;
}

.contact__channel {
  @apply w-max;
  @apply flex gap-x-2;
}

.contact__social {
  @apply w-min;
  @apply my-10;
  @apply xs:mx-auto lg:mx-0;
  @apply flex gap-x-4;
  @apply text-3xl lg:text-lg;
}

.contact__social .fab {
  @apply hover:text-secondary-600;
}

/* backgrounds */
.feature:nth-child(odd) {
  position: relative;
}

.feature:nth-child(odd) {
  background: #e6fbff;
}

.feature:nth-child(odd):before,
.feature:nth-child(odd):after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  z-index: -1;
}

.feature:nth-child(odd):before {
  bottom: 100%;
}

.feature:nth-child(odd):after {
  top: 100%;
}

.feature:nth-child(1):before {
  background: var(--bg-wave1-top-mobile) bottom left / contain no-repeat;
}

.feature:nth-child(1):after {
  background: var(--bg-wave1-bottom-mobile) top left / contain no-repeat;
}

.feature:nth-child(3):before {
  background: var(--bg-wave2-top-mobile) bottom left / contain no-repeat;
}

.feature:nth-child(3):after {
  background: var(--bg-wave2-bottom-mobile) top left / contain no-repeat;
}

footer:before {
  content: "";
  background: var(--bg-wave-footer-mobile) bottom left / contain no-repeat;
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: 100vh;
  left: 0;
  display: block;
  z-index: -1;
}

@screen md {
  .feature:nth-child(1):before {
    background: var(--bg-wave1-top-desktop) bottom left / contain no-repeat;
  }
  .feature:nth-child(1):after {
    background: var(--bg-wave1-bottom-desktop) top left / contain no-repeat;
  }

  .feature:nth-child(3):before {
    background: var(--bg-wave2-top-desktop) bottom left / contain no-repeat;
  }
  .feature:nth-child(3):after {
    background: var(--bg-wave2-bottom-desktop) top left / contain no-repeat;
  }
  .footer:before {
    background: var(--bg-wave1-footer-desktop) bottom left / contain no-repeat;
  }
}

/* icons */
.stat__mark--communities:before,
.stat__mark--messages:before {
  content: "";
  width: 1.3rem;
  height: 1.3rem;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  filter: contrast(0.5);
  transform: translate(10%, -120%);
}

.stat__mark--communities:before {
  background: var(--icon-communities) center / contain no-repeat;
}

.stat__mark--messages:before {
  background: var(--icon-messages) center / contain no-repeat;
}

.contact--phone:before,
.contact--email:before {
  content: " ";
  width: 0.5rem;
  display: block;
}

.contact--phone:before {
  background: var(--icon-phone) center / contain no-repeat;
}

.contact--email:before {
  background: var(--icon-email) center / contain no-repeat;
}
