:root {
  --cl-primary-500: hsl(320, 80%, 50%);
  --cl-primary-600: hsl(322, 100%, 66%);
  --cl-primary-700: hsl(322, 100%, 76%);

  --cl-neutral-100: hsl(192, 100%, 9%);
  --cl-neutral-500: hsl(208, 11%, 55%);
  --cl-neutral-900: hsl(193, 100%, 96%);

  --cl-white: hsl(0, 0%, 100%);

  --ff-primary: "Open Sans", theme(fontFamily.sans);
  --ff-display: "Poppins", theme(fontFamily.sans);

  --bg-hero-desktop: url("~assets/bg/hero-desktop.svg");
  --bg-hero-mobile: url("~assets/bg/hero-mobile.svg");
  --icon-email: url("~assets/icons/email.svg");
  --icon-location: url("~assets/icons/location.svg");
  --icon-phone: url("~assets/icons/phone.svg");

  --shadow-neutral-100: hsla(0, 0%, 0%, 0.2);
}

body {
  @apply bg-white text-neutral-100;
}

/* Backgrounds */

header {
  @apply relative;
  background-color: var(--cl-neutral-900);
}

header:before {
  @apply block absolute w-full h-screen;
  content: "";
  top: 0;
  left: 0;
  background: top center / 100% no-repeat, transparent;
  background-image: var(--bg-hero-mobile);
  @apply filter saturate-200;
  @apply z-10;
}

.intro {
  @apply bg-neutral-900;
}

.intro__container,
.header__container {
  @apply z-20;
}

@screen md {
  header:before {
    background-image: var(--bg-hero-desktop);
  }
}

/* Sections */

.feature {
  box-shadow: 0 0 10px 0 var(--shadow-neutral-100);
}

.feature__summary {
  @apply text-neutral-500;
}
