/* Animate */

.component {
  --animate-bar-duration: 3s;
  --animate-bar-delay: 1s;
  --animate-on-load-bar: var(--animate-bar-duration) ease-out var(--animate-bar-delay) 1 forwards;
  --animate-on-load-message: 1s ease-out calc(var(--animate-bar-duration) + var(--animate-bar-delay) - 2s) 1 forwards;
  --animate-on-load-tooltip: 1s ease-out calc(var(--animate-bar-duration) + var(--animate-bar-delay)) 1 forwards;
}

@media (prefers-reduced-motion) {
  .widget__bar:before {
    width: var(--user-storage);
  }
  .widget__message,
  .tooltip {
    opacity: 1;
  }
  .component *,
  .component *:before,
  .component *:after {
    animation: none !important;
  }
}

.widget__bar:before {
  animation: var(--animate-on-load-bar) onLoadBar;
}

.widget__message {
  animation: var(--animate-on-load-message) onLoadShowMessage;
}

.tooltip {
  animation: var(--animate-on-load-tooltip) onLoadShowMessage;
}

@keyframes onLoadBar {
  0% {
    width: 0;
  }
  100% {
    width: var(--user-storage);
  }
}

@keyframes onLoadShowMessage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
