a {
  @apply inline-block;
}

img {
  @apply object-contain;
}

address {
  @apply not-italic;
}

input {
  @apply appearance-none;
  @apply bg-white text-gray-900;
  @apply py-2 px-3;
  @apply border border-neutral-400 rounded-none;
}

body {
  @apply min-h-screen w-full;
  @apply grid justify-items-center auto-rows-min;
}

main {
  @apply w-full;
}

main > * {
  @apply w-full py-8;
  @apply grid justify-items-center;
}
