/* Theme vars */
/* color.hailpixel.com/#1D2A67,667FFF,0C112C,848794,DBE1FF */
.component {
  --cl-primary-hue: 230; /* Blue */
  --cl-accent-hue: 190; /* Cyan */
  --cl-gradient-hue-0: 6;
  --cl-gradient-hue-100: 335;

  --cl-midtone-hue: var(--cl-primary-hue);
  --cl-highlights-hue: var(--cl-primary-hue);
  --cl-shadows-hue: var(--cl-primary-hue);
  --cl-neutrals-hue: var(--cl-primary-hue);

  --cl-midtone-100: hsl(var(--cl-midtone-hue), 57%, 11%);
  --cl-midtone-200: hsl(var(--cl-midtone-hue), 56%, 26%);
  --cl-midtone-700: hsl(var(--cl-midtone-hue), 100%, 76%);

  --cl-accent-100: hsl(var(--cl-accent-hue), 60%, 10%);
  --cl-accent-500: hsl(var(--cl-accent-hue), 100%, 55%);

  --cl-neutral-500: hsl(var(--cl-neutrals-hue), 7%, 55%);
  --cl-highlight-900: hsl(var(--cl-highlights-hue), 100%, 93%);

  --cl-black: hsl(var(--cl-shadows-hue), 0%, 0%);
  --cl-white: hsl(var(--cl-highlights-hue), 0%, 100%);

  /* gradients */
  --cl-bar-gradient-start: hsl(var(--cl-gradient-hue-0), 100%, 80%);
  --cl-bar-gradient-end: hsl(var(--cl-gradient-hue-100), 100%, 65%);

  /* fonts */
  --ff-primary: "Raleway", theme(fontFamily.sans);
}

/* general theme */
.component {
  @apply font-primary text-sm text-highlight-900;
}

.component em,
.widget__max {
  @apply text-white font-bold not-italic normal-case;
}

.component__input,
.component__output {
  @apply bg-midtone-200;
  @apply rounded-lg;
  box-shadow: 0.8rem 0.8rem 0.5rem -0.5rem #0006;
}

.component__input {
  border-top-right-radius: 5rem;
}

/* layout */
.component {
  @apply min-w-max;
  @apply w-full max-w-sm;
  @apply grid grid-cols-1;
  @apply gap-y-4;
}

.component__input {
  @apply p-8 space-y-8;
}

.component__output {
  --output-px: 2rem;
  padding-inline: var(--output-px);
  @apply grid place-items-center;
  @apply py-16;
  @apply relative;
}

/* buttons */

.input__menu {
  @apply space-x-4;
}

.menu__btn {
  @apply p-3;
  @apply bg-midtone-100;
  @apply text-midtone-700;
  @apply rounded-lg;

  @apply hover:bg-accent-500;
  @apply active:bg-midtone-100;

  @apply focus:text-white;
  @apply hover:text-accent-100;
  @apply active:text-white;

  @apply hover:outline-none;
}

.menu__btn svg {
  @apply w-6 h-6;
  @apply fill-current;
}

/* progress bar */
.widget {
  @apply w-full grid justify-items-center gap-y-2;
}

.widget__message {
  @apply w-max -mt-7;
}

.message__storage:after {
  content: " GB";
}

.widget__max {
  @apply w-full flex justify-between;
}

.widget__bar {
  --bar-height: 0.8rem;
  @apply w-full;
  height: var(--bar-height);
  min-width: 14rem;
  @apply rounded-md;
  @apply relative;
}

.widget__max:before {
  content: "0 GB";
  display: block;
  @apply w-max;
}
/* bar gradient */
/* prettier-ignore */
.widget__bar {
  --user-storage:80%; 
  @apply bg-midtone-100;
  box-shadow: 0 0 0 2px #000A;
}

/* prettier-ignore */
.widget__bar:before {
  --bar-gradient: linear-gradient( to right, var(--cl-bar-gradient-start), 30%, var(--cl-bar-gradient-end));
  --circle-tip-pos: calc(100% - (var(--bar-height)/2) - 1px) 50%;
  --circle-tip-width: calc(var(--bar-height) / 2 - 2px);
  --circle-tip: radial-gradient( circle at var(--circle-tip-pos), white 0 var(--circle-tip-width), transparent 0 );
  content: "";
  display: block;
  width:0;
  height: 100%;
  border-radius: inherit;
  background: var(--circle-tip), var(--bar-gradient);
  box-shadow: inset 0 2px 0 0 #fff4, 2px 0 0 0 #0004;
}

/* tooltip */

.tooltip {
  opacity: 0;
  position: absolute;
  bottom: 0;
  transform: translatey(50%);
  @apply p-4;
  @apply bg-white rounded-lg;
  box-shadow: 0.8rem 0.8rem 0.5rem -0.5rem #0006;
  @apply text-midtone-100 text-3xl font-bold;
}

.tooltip__value {
  @apply flex items-center gap-x-2;
}

.tooltip__value:after {
  content: " gb left";
  @apply text-neutral-500 font-normal text-xs;
  @apply uppercase;
}

/* horizontal */

@screen md {
  .component {
    @apply max-w-4xl gap-x-4 items-end;
    grid: auto-flow / 20rem 1fr;
  }
  .component__output {
    @apply py-8;
  }

  .widget__message {
    @apply mt-0 mb-2;
    @apply justify-self-start;
  }

  .tooltip {
    top: -25%;
    right: var(--output-px);
    bottom: auto;
    transform: none;
    border-bottom-right-radius: 0;
  }
  .tooltip:after {
    content: "";
    display: block;
    position: absolute;
    top: 99%;
    right: 0;
    width: 0;
    border: 0.6rem solid;
    border-color: white white transparent transparent;
  }
}

/* Animate */

.component {
  --animate-bar-duration: 3s; /* 5s */
  --animate-bar-delay: 1s;
  --animate-on-load-bar: var(--animate-bar-duration) ease-out var(--animate-bar-delay) 1 forwards;
  --animate-on-load-tooltip: 1s ease-out calc(var(--animate-bar-duration) + var(--animate-bar-delay) - 1s) 1 forwards;
}

.widget__bar:before {
  animation: var(--animate-on-load-bar) onLoadBar;
}

.tooltip {
  animation: var(--animate-on-load-tooltip) onLoadTooltip;
}

@keyframes onLoadBar {
  0% {
    width: 0;
  }
  100% {
    width: var(--user-storage);
  }
}

@keyframes onLoadTooltip {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (prefers-reduced-motion) {
  .widget__bar {
    width: var(--user-storage);
  }
  .tooltip {
    opacity: 1;
  }
  .component *,
  .component *:before .component *:after {
    animation-name: none;
  }
}
