body {
  @apply font-primary;
  @apply text-base;
}

h1,
h2,
h3 {
  @apply font-display font-bold;
}

h1 {
  @apply text-2xl md:text-3xl leading-relaxed;
}

h2 {
  @apply text-xl;
}

p {
  max-width: 60ch;
}

/* Sections */

.intro__text {
  @apply text-center md:text-left;
}

.intro__heading {
  @apply max-w-xs sm:max-w-sm md:max-w-xs lg:max-w-md;
  @apply text-2xl sm:text-3xl md:text-2xl lg:text-3xl;
  @apply md:leading-normal;
  @apply font-bold lg:font-normal;
}

@screen xl {
  .intro__heading {
    font-size: 2.3rem;
    line-height: 1.5;
  }
}

.intro__summary {
  @apply max-w-xs xs:max-w-md lg:max-w-screen-xs xl:max-w-lg;
  @apply lg:text-lg;
}

.feature__heading {
  @apply w-max;
  @apply lg:text-2xl;
}

.feature__summary {
  @apply w-10/12 md:w-full;
  @apply max-w-sm md:max-w-md;
  @apply text-sm lg:text-base;
  @apply leading-relaxed;
}

.cta__heading {
  @apply text-base md:text-xl lg:text-3xl;
  @apply capitalize;
}

.contact {
  @apply text-sm leading-relaxed;
  @apply hover:text-white hover:font-bold;
}

.footer-nav__item {
  @apply capitalize;
  @apply md:text-sm;
  @apply hover:underline active:no-underline;
}

.copyright {
  @apply text-xs w-max;
}
