header {
  @apply py-8;
  @apply w-full;
  @apply grid justify-items-center;
  @apply overflow-hidden;
}

.header__container {
  @apply space-y-24 md:space-y-12;
  @apply w-11/12;
  @apply xs:max-w-screen-sm md:max-w-screen-xl;
}

.header__navbar {
  @apply w-full;
  @apply flex justify-between items-center gap-x-2;
}

.header__logo {
  width: clamp(6rem, 25vw, 12rem);
}

.header__logo img {
  @apply filter contrast-200;
}

.header__intro {
  @apply flex flex-col items-center;
  @apply md:flex-row md:justify-between;
  @apply gap-x-4 gap-y-10;
}

.intro__text {
  @apply grid justify-items-center md:justify-items-start;
  @apply gap-y-5;
}

.intro__draw {
  @apply w-10/12 md:w-1/2;
  @apply xl:w-3/5 lg:max-w-xl;
}
