header {
  @apply w-full py-8;
  @apply grid justify-items-center;
  /* @apply bg-blue-400; */
}

.header__content {
  @apply w-full max-w-screen-xl;
  @apply flex justify-between items-center gap-x-2;
}

.header__logo {
  width: clamp(6rem, 25vw, 12rem);
}

.header__logo img {
  @apply filter contrast-200;
}
