.wrapper--footer {
  @apply py-10;
  @apply grid-cols-1 justify-items-stretch;
}

footer {
  @apply w-full grid grid-cols-1 md:grid-cols-2;
  @apply justify-items-start xs:justify-items-center md:items-start xl:justify-items-stretch;
  @apply gap-y-10 xs:gap-y-16 xl:gap-y-4;
  @apply text-left xs:text-center md:text-left;
}

@screen xl {
  footer {
    grid: auto-flow / 60% 1fr 10%;
  }
}

.footer__logo {
  @apply ml-2 w-max;
  @apply col-span-full;
}

.contacts {
  @apply w-full md:w-max xl:w-full;
  @apply flex;
  @apply gap-x-4 xl:gap-x-24;
  @apply gap-y-4 md:gap-y-2;
  @apply flex-col xs:flex-row md:flex-col xl:flex-row;
  @apply xs:justify-around xl:justify-start;
}
.contact {
  @apply my-0;
  @apply hover:text-white;
  @apply text-left;
}

.contact__channels {
  @apply space-y-3 xs:space-y-1;
}

.contact--location {
  @apply w-80;
  @apply xs:max-w-3xs xl:max-w-2xl;
}

.contact--phone,
.contact--email {
  @apply w-max;
}

.footer-nav {
  @apply w-full xs:w-96 xl:w-full;
  @apply flex gap-y-10;
  @apply flex-col xs:flex-row justify-evenly;
}

.footer-nav ul {
  @apply w-2/6;
  @apply space-y-4;
}

.footer-nav__item {
  @apply hover:text-white hover:font-bold;
}

.social-nav {
  @apply col-span-full xl:col-span-1;
}
