.intro {
  @apply py-10 lg:py-0;
  @apply container grid justify-items-center;
  @apply max-w-xs md:max-w-lg;
}

.intro__draw {
  @apply w-full max-w-xs xl:max-w-sm;
}

.intro__heading {
  @apply max-w-xs md:max-w-sm;
}

.intro__description {
  width: min(100%, 55ch);
  @apply max-w-2xs md:max-w-xs;
}
