:root {
  --cl-red: hsl(0, 78%, 62%);
  --cl-cyan: hsl(180, 62%, 55%);
  --cl-orange: hsl(34, 97%, 64%);
  --cl-blue: hsl(212, 86%, 64%);

  --cl-neutral-300: hsl(234, 12%, 34%);
  --cl-neutral-600: hsl(229, 6%, 66%);

  --ff-primary: "Poppins";

  --bg-icon-supervisor: url("~assets/icons/supervisor.svg");
  --bg-icon-teambuilder: url("~assets/icons/teambuilder.svg");
  --bg-icon-karma: url("~assets/icons/karma.svg");
  --bg-icon-calculator: url("~assets/icons/calculator.svg");
}
body {
  @apply w-10/12 h-full py-16 mx-auto;
  @apply font-primary text-neutral-300;
}

header {
  @apply text-center font-extralight;
}
header > h1 {
  @apply text-2xl;
  @apply lg:text-3xl;
}
header > h2 {
  @apply font-semibold text-2xl lg:text-3xl;
}
header > p {
  @apply max-w-lg mt-6 mx-auto;
  @apply text-neutral-600;
}

main {
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  @apply grid gap-8;
  @apply max-w-5xl mx-auto mt-20;
  @apply lg:grid-flow-col lg:grid-cols-3 lg:grid-rows-4;
}

.card {
  @apply h-52 pl-6 pr-8 py-4;
  @apply border-t-4 rounded-md shadow-xl;
  @apply text-sm;
  @apply bg-supervisor bg-no-repeat bg-right-bottom bg-origin-content;
  @apply lg:row-span-2;
}

.card__title {
  @apply font-semibold text-xl;
}

.card__description {
  @apply font-extralight mt-2 text-neutral-600;
}

.card:first-child,
.card:last-child {
  @apply lg:row-start-2;
}

.card--supervisor {
  @apply border-primary-cyan bg-supervisor;
}
.card--teambuilder {
  @apply border-primary-red bg-teambuilder;
}
.card--karma {
  @apply border-primary-orange bg-karma;
}
.card--calculator {
  @apply border-primary-blue bg-calculator;
}
