:root {
  --cl-orange: hsl(31, 77%, 52%);
  --cl-cyan: hsl(184, 100%, 22%);
  --cl-cyan-dark: hsl(179, 100%, 13%);

  --cl-white: hsl(0, 0%, 95%);
  --cl-white-alpha75: hsla(0, 0%, 100%, 0.75);

  --ff-display: "Big Shoulders Display";
  --ff-primary: "Legend Deca";

  --bg-icon-sedans: url("~assets/icons/sedans.svg");
  --bg-icon-suvs: url("~assets/icons/suvs.svg");
  --bg-icon-luxury: url("~assets/icons/luxury.svg");
}

body {
  @apply min-h-screen flex;
  @apply text-base font-primary leading-normal;
  @apply lg:items-center;
}

.cards {
  min-height: 70vh;
  @apply w-10/12 max-w-5xl my-20 mx-auto;
  @apply grid;
  @apply rounded-xl overflow-hidden;
  @apply lg:grid-cols-3;
}

.card {
  @apply py-12 pl-10 pr-14;
  @apply flex flex-col justify-start items-start;
  @apply bg-current bg-no-repeat bg-left-top bg-origin-content;
}

.card__title {
  @apply mt-20;
  @apply font-display font-bold text-5xl text-white uppercase;
}

.card__description {
  @apply max-w-prose my-8;
  @apply text-white-alpha75;
}

.card__button {
  @apply min-w-max mt-auto py-3 px-8;
  @apply capitalize;
  @apply border-white border-2 bg-white rounded-full;
  @apply focus:outline-none focus:bg-transparent focus:text-white;
  @apply hover:bg-transparent hover:text-white;
}

.card--sedan {
  @apply text-primary-orange bg-sedans;
}

.card--suv {
  @apply text-primary-cyan bg-suvs;
}

.card--luxury {
  @apply text-primary-cyan-dark bg-luxury;
}
