.testimonials {
  display: grid;
  justify-items: center;
  grid: auto-flow repeat(2, 40rem) / 1fr;
  @apply gap-6;
  /* @apply max-w-2xl; */
}

.testimonial:nth-child(1) {
  grid-area: ;
}

@screen sm {
  .testimonial:nth-child(2) {
    grid-area: 5 / 1;
  }

  .testimonial:nth-child(3) {
    grid-area: 2 / 1;
  }
  .testimonial:nth-child(5) {
    grid-area: 4 / 1;
  }
}

@screen xl {
  .testimonials {
    grid: repeat(2, 1fr) / repeat(4, 1fr);
    grid-auto-flow: row;
  }

  .testimonial:nth-child(1) {
    grid-area: 1 / span 2;
  }
  .testimonial:nth-child(2) {
    grid-area: 1 / 3;
  }

  .testimonial:nth-child(3) {
    grid-area: 2 / 1;
  }
  .testimonial:nth-child(4) {
    grid-area: 2 / span 2;
  }
  .testimonial:nth-child(5) {
    grid-area: 1 / 4 / span 2;
  }
}
