.testimonials {
  width: 100%;
  @apply sm:max-w-3xl xl:max-w-7xl;
}

.testimonial {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-auto-rows: min-content;
  row-gap: var(--card-gap-y);
  @apply py-5 sm:py-10 xl:py-5;
  @apply px-8;
  border-radius: var(--cards-b-radius);
  min-width: 16rem;
  /* max-width: 44rem; */
  min-height: 16rem;
}

.testimonial > * {
  @apply w-11/12;
}

.testimonial__author {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  justify-content: center;
  height: var(--avatar-width);
  @apply gap-x-3 gap-y-1 leading-none;
}

.author__avatar {
  width: var(--avatar-width);
  border-radius: 50%;
}

/* Grid System */

.testimonials {
  display: grid;
  justify-items: center;
  grid: auto-flow / 1fr;
  @apply gap-6;
  /* @apply max-w-2xl; */
}

.testimonial:nth-child(1) {
  grid-area: ;
}

@screen sm {
  .testimonial:nth-child(2) {
    grid-area: 5 / 1;
  }

  .testimonial:nth-child(3) {
    grid-area: 2 / 1;
  }
  .testimonial:nth-child(5) {
    grid-area: 4 / 1;
  }
}

@screen xl {
  .testimonials {
    grid: repeat(2, 1fr) / repeat(4, 1fr);
    grid-auto-flow: row;
  }

  .testimonial:nth-child(1) {
    grid-area: 1 / span 2;
  }
  .testimonial:nth-child(2) {
    grid-area: 1 / 3;
  }

  .testimonial:nth-child(3) {
    grid-area: 2 / 1;
  }
  .testimonial:nth-child(4) {
    grid-area: 2 / span 2;
  }
  .testimonial:nth-child(5) {
    grid-area: 1 / 4 / span 2;
  }
}
