.testimonials {
  --cl-primary-hue: 217; /* Blue */
  --cl-accent-hue: 263; /* Violet */
  --cl-dim-opacity: 50%; /* Violet */
  --cl-neutral: 0, 0%, 81%;
  --cl-white: hsl(0, 0%);

  --cl-surface1-100-hsl: var(--cl-primary-hue), 29%, 14%;
  --cl-surface1-300-hsl: var(--cl-primary-hue), 19%, 35%;

  --cl-surface1-100: hsl(var(--cl-surface1-100-hsl));
  --cl-surface1-300: hsl(var(--cl-surface1-100-hsl));
  --cl-surface2-500: hsl(var(--cl-accent-hue), 55%, 52%);

  --cl-text-copy-dark: var(--cl-surface1-300);
  --cl-text-copy-light: hsl(var(--cl-neutral));
  --cl-text-display-dark: var(--cl-surface1-100);
  --cl-text-display-light: white;
  --cl-text-dim-dark: hsla(var(--cl-surface1-100-hsl), var(--cl-dim-opacity));
  --cl-text-dim-light: hsla(var(--cl-neutral), var(--cl-dim-opacity));

  /* Light grayish blue: hsl(210, 46%, 95%) */
}
