.testimonials {
  @apply w-full;
  @apply grid place-items-center;
  @apply gap-6;
}

.testimonial {
  @apply grid grid-cols-1 auto-rows-min;
  row-gap: var(--card-gap-y);
  padding: var(--card-py) var(--card-px);
  border-radius: var(--card-b-radius);
  min-height: 16rem;
}

.testimonial > * {
  @apply w-11/12;
}

.testimonial__author {
  @apply flex flex-col flex-wrap w-full;
  @apply content-start justify-center;
  @apply gap-x-3 gap-y-1 leading-none;
  height: var(--avatar-width);
}

.author__avatar {
  width: var(--avatar-width);
  @apply rounded-full;
}

/* Grid System */

.testimonials {
  grid: auto-flow / min(0, 1fr);
}
