.testimonials {
  width: 100%;
  @apply sm:max-w-3xl xl:max-w-7xl;
}

.testimonial {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-auto-rows: min-content;
  row-gap: var(--card-gap-y);
  @apply py-5 sm:py-10 xl:py-5;
  @apply px-8;
  border-radius: var(--cards-b-radius);
  min-width: 16rem;
  min-height: 16rem;
}

.testimonial > * {
  @apply w-11/12;
}

.testimonial__author {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  justify-content: center;
  height: var(--avatar-width);
  @apply gap-x-3 gap-y-1 leading-none;
}

.author__avatar {
  width: var(--avatar-width);
  border-radius: 50%;
}
