.testimonials {
  /* assets */
  --bg-pattern: url("~assets/bg/pattern.svg");
  --avatar-width: 2.2rem;

  /* spacing */
  --card-px: 1.5rem;
  --card-py: 2rem;
  --card-gap-y: 1.2rem;
  --card-shadow: 0.8rem 0.8rem 1rem -0.5rem #0002;
  --card-inner-shadow: inset 0 0.5rem 1rem 0 #0002;
  /* borders */
  --card-b-radius: 1rem;
}

@screen md {
  .testimonials {
    --card-gap-y: 2rem;
  }
}

/* Cards color palette */
.testimonial:nth-child(1) {
  --bg-image: var(--bg-pattern) top 0 left 85% no-repeat;
  --cl-bg: var(--bg-image), hsl(263, 55%, 52%);
  --cl-text-copy: hsla(0, 0%, 100%, 0.5);
  --cl-text-display: white;
  --cl-text-dim: hsla(0, 0%, 100%, 0.8);
  --cl-avatar-border: hsla(0, 0%, 100%, 0.314);
  --cl-gradient-shadow: hsla(0, 0%, 0%, 0.3);
}
.testimonial:nth-child(2) {
  --cl-bg: hsl(217, 19%, 35%);
  --cl-text-copy: hsla(0, 0%, 100%, 0.7);
  --cl-text-display: white;
  --cl-text-dim: hsla(0, 0%, 100%, 0.8);
  --cl-avatar-border: hsla(0, 0%, 100%, 0.5);
  --cl-gradient-shadow: hsla(0, 0%, 0%, 0.3);
}
.testimonial:nth-child(3),
.testimonial:nth-child(5) {
  --cl-bg: white;
  --cl-text-copy: hsla(217, 30%, 14%, 0.7);
  --cl-text-display: hsl(217, 30%, 14%);
  --cl-text-dim: hsla(217, 19%, 35%, 0.502);
  --cl-avatar-border: hsla(0, 0%, 100%, 0.5);
  --cl-gradient-shadow: hsla(0, 0%, 85%, 0.1);
}
.testimonial:nth-child(4) {
  --cl-bg: hsl(217, 30%, 14%);
  --cl-text-copy: hsla(0, 0%, 100%, 0.439);
  --cl-text-display: white;
  --cl-text-dim: rgba(255, 255, 255, 0.5);
  --cl-avatar-border: hsla(0, 0%, 100%, 0.314);
  --cl-gradient-shadow: hsla(0, 0%, 0%, 0.3);
}

.testimonial {
  background: linear-gradient(to top left, var(--cl-gradient-shadow), 15%, transparent, 85%, #0002), var(--cl-bg);
  color: var(--cl-text-copy);
  box-shadow: var(--card-shadow), var(--card-inner-shadow);
  min-width: 20rem;
  max-width: 90ch;
}

.testimonial__summary,
.author__name {
  color: var(--cl-text-display);
}

.testimonial__status {
  color: var(--cl-text-dim);
}

.author__avatar {
  border: 2px solid var(--cl-avatar-border);
}

/* typography */
.testimonials {
  --ff-primary: "Barlow Semi Condensed";
  @apply font-primary text-sm font-medium;
}

.testimonial__summary {
  @apply font-semibold text-xl leading-snug tracking-wide;
}

/* responsive typography */

.testimonials {
}
