.testimonials {
  --ff-primary: "Barlow Semi Condensed";
  --ff-text-copy: theme("fontSize.sm");
  font-size: var(--ff-text-copy);
  @apply font-primary font-medium;
}

.testimonial__summary {
  --ff-text-summary: theme("fontSize.xl");
  font-size: var(--ff-text-summary);
  @apply font-semibold leading-snug tracking-wide;
}

/* responsive typography */

.testimonial.testimonial--highlight {
  @apply sm:text-xl sm:gap-y-8;
  @apply xl:text-sm xl:gap-y-4;
}

.testimonial.testimonial--highlight .testimonial__summary {
  @apply sm:text-4xl xl:text-xl;
}

.testimonial.testimonial--highlight .testimonial__author {
  @apply sm:text-base sm:leading-none;
  @apply xl:text-sm xl:leading-none;
}

.testimonial--highlight .testimonial__author {
  @apply sm:h-16 sm:-mb-4 xl:h-9 xl:mb-0;
}

.testimonial.testimonial--highlight .author__avatar {
  @apply sm:w-12;
  @apply xl:w-9;
}

/* typography utility to prevent FOUT */
.no-fout {
  --fout-latency: 0.3s;
  animation: noPaint var(--fout-latency) 1 forwards;
}

.testimonials {
  visibility: hidden;
}

@keyframes noPaint {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@media (prefers-reduced-motion) {
  .testimonials {
    visibility: visible;
  }
}
