@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  @responsive {
    .bg-size-100vw {
      background-size: 100vw;
    }
    .bg-size-190vh {
      background-size: 190vh;
    }
  }
}

@layer components {
  .bg-hero {
    @apply bg-myHeroMobile bg-no-repeat bg-fixed bg-size-100vw bg-primary;
    @apply lg:bg-myHeroDesktop lg:bg-left lg:bg-size-190vh;
  }
}

.disable-transitions * {
  transition: none;
}
