@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  @responsive {
    .bg-size-380px {
      background-size: 380px;
    }
    .bg-size-190vh {
      background-size: 190vh;
    }
    .bg-moveup-5vh {
      background-position: center -5vh;
    }
  }
}

@layer components {
  .bg-hero {
    @apply bg-myHeroMobile bg-no-repeat bg-fixed bg-moveup-5vh bg-myViolet bg-size-380px;
    @apply xs:bg-none;
    @apply md:bg-myHeroDesktop md:bg-left md:bg-size-190vh;
  }
}
