/* buttons */

.btn {
  @apply w-max my-4 min-w-max;
  @apply py-4 px-20;
  @apply bg-accent-1-500 hover:bg-accent-1-600 active:bg-accent-1-500;
  @apply font-primary text-sm text-white font-bold capitalize;
  @apply rounded-3xl;
  @apply shadow-2xl active:shadow-none focus:shadow-none;
}

/* forms */

.email__form {
  @apply w-full mt-6 flex flex-col;
}

.email__field {
  @apply relative;
}

.email__input {
  @apply w-full py-4;
  @apply rounded-3xl;
  @apply text-center;
}

.email__error {
  @apply hidden absolute;
  @apply pb-1;
  inset: auto 0 100%;
}

.email__input:not(:placeholder-shown):invalid ~ .email__error {
  @apply block;
}

.email__submit {
  @apply w-full px-2;
}

/* cards */

.testimonial {
  width: clamp(40ch, 100vw, 48ch);
  @apply py-6 px-5;
  @apply flex flex-col;
  @apply text-3xs xs:text-xs;
  @apply text-left leading-loose;
  @apply bg-primary-180 shadow-xl rounded-md xs:rounded-lg;
}

.testimonial__reviewer {
  @apply mt-3 grid gap-x-2 gap-y-1 items-center self-start;
  grid: auto-flow 1.1rem / auto 1fr;
  @apply tracking-widest align-middle;
}

.reviewer__avatar {
  @apply w-6 rounded-full;
}

.reviewer__info {
  @apply space-y-1;
}

.reviewer__name {
  @apply text-xs tracking-normal;
  @apply block font-bold leading-none capitalize;
}

.reviewer__work {
  @apply block leading-none text-3xs;
}

/* nav */

.social-nav {
  @apply w-max mx-auto block space-x-2;
}

.social-nav__item {
  @apply inline-block w-7 h-7 leading-7;
  @apply text-center align-middle;
  @apply rounded-full border;
  @apply hover:text-accent-1-600 hover:border-accent-1-600;
}
