/* Theme */

:root {
  --cl-primary-090: hsl(216, 53%, 9%); /* footer background */
  --cl-primary-130: hsl(218, 28%, 13%); /* main background */
  --cl-primary-150: hsl(217, 28%, 15%); /* intro and email sign up background */
  --cl-primary-180: hsl(219, 30%, 18%); /* testimonials background */
  --cl-accent-1-500: hsl(198, 60%, 50%); /* inside call-to-action gradientcl */
  --cl-accent-1-600: hsl(176, 68%, 64%); /* inside call-to-action gradient */
  --cl-accent-2-600: hsl(0, 100%, 63%); /* light red for errors */

  --cl-neutral-400: hsl(220, 9%, 46%);
  --cl-neutral-900: hsl(219, 30%, 90%);
  --cl-white: hsl(0, 0%, 100%);

  --ff-primary: "Open Sans", theme(fontFamily.sans);
  --ff-display: "Raleway", theme(fontFamily.sans);

  --bg-curvy-desktop: url("~assets/bg/curvy-desktop.svg");
  --bg-curvy-mobile: url("~assets/bg/curvy-mobile.svg");

  --icon-arrow: url("~assets/icons/arrow.svg");
  --icon-any-file: url("~assets/icons/any-file.svg");
  --icon-access-anywhere: url("~assets/icons/access-anywhere.svg");
  --icon-collaboration: url("~assets/icons/collaboration.svg");
  --icon-email: url("~assets/icons/email.svg");
  --icon-location: url("~assets/icons/location.svg");
  --icon-phone: url("~assets/icons/phone.svg");
  --icon-quotes: url("~assets/icons/quotes.png");
  --icon-security: url("~assets/icons/security.svg");
}

/* Base - Elements */

* {
  @apply focus:outline-none;
  @apply active:ring-0 active:ring-offset-0;
}

*:not(:hover) {
  @apply focus:ring-1 focus:ring-white focus:ring-offset-primary-150 focus:ring-offset-8 focus:rounded-sm;
}

a {
  @apply inline-block;
}

img {
  @apply my-4;
  @apply inline-block;
  @apply object-contain;
}

input {
  @apply appearance-none;
  @apply bg-white text-gray-900;
  @apply border border-neutral-400 rounded-none;
  @apply py-2 px-3;
}

input:not(:placeholder-shown):focus {
  @apply ring-0 ring-offset-0;
}

address {
  @apply not-italic;
}

/* Base - Typograpyhy */

body {
  @apply font-primary text-center text-neutral-900;
  @apply text-sm md:text-lg leading-relaxed;
}

h2 {
  @apply my-4;
  @apply font-display font-bold;
  @apply text-2xl md:text-4xl;
  @apply leading-normal md:leading-relaxed;
}

h3 {
  @apply my-2;
  @apply font-display font-bold;
  @apply text-lg leading-normal;
}

p {
  @apply my-4;
}

.text-error {
  @apply text-accent-2-600 text-xs font-bold;
}

.spot-feature__headline,
.cta__headline {
  @apply my-2;
  @apply text-lg;
}

/* Base - Typograhy - Utilities */

.max-ch-40 {
  max-width: 40ch;
}

/* Components - Buttons */

.btn {
  @apply w-max my-4 min-w-max;
  @apply py-4 px-20;
  @apply bg-accent-1-500 hover:bg-accent-1-600 active:bg-accent-1-500;
  @apply font-primary text-sm text-white font-bold capitalize;
  @apply rounded-3xl;
  @apply filter drop-shadow-3xl active:drop-shadow-none focus:drop-shadow-none;
}

/* Components - Email Form */

.email__form {
  @apply w-full mt-6 flex flex-col;
}

.email__field {
  @apply relative;
}

.email__input {
  @apply w-full py-4;
  @apply rounded-3xl;
  @apply text-center;
}

.email__error {
  @apply hidden absolute;
  @apply pb-1;
  inset: auto 0 100%;
}

.email__input:not(:placeholder-shown):invalid ~ .email__error {
  @apply block;
}

.email__submit {
  @apply w-full px-2;
}

/* Components - Testimonial cards */

.testimonial {
  width: clamp(40ch, 100vw, 48ch);
  @apply py-6 px-5 h-40;
  @apply grid grid-cols-1 items-center;
  @apply text-2xs text-left leading-loose;
  @apply bg-primary-180 shadow-xl rounded-md;
}

.testimonial__quote {
}

.testimonial__reviewer {
  @apply mt-3 grid gap-x-2 gap-y-1 items-center self-start;
  grid: auto-flow 1.1rem / auto 1fr;
  @apply tracking-widest align-middle;
}

.reviewer__avatar {
  @apply w-6 rounded-full;
}

.reviewer__info {
  @apply space-y-1;
}

.reviewer__name {
  @apply block font-bold leading-none capitalize text-white;
}

.reviewer__work {
  @apply block leading-none text-3xs;
}

/* Layout - Wrappers */

body {
  @apply bg-primary-150;
  @apply min-h-screen;
}

.wrapper {
  @apply flex flex-col justify-center px-6 py-4;
  @apply lg:px-20 lg:py-6;
}

.wrapper--header {
  @apply lg:pt-10;
}

.wrapper--intro {
  @apply relative lg:py-0;
  background: linear-gradient(to top, var(--cl-primary-130) 0 45%, transparent 0);
}

.wrapper--intro:before {
  @apply block absolute w-full h-screen;
  content: "";
  bottom: 44%;
  left: 0;
  z-index: -1;
  background: var(--bg-curvy-desktop) bottom center / contain no-repeat;
}

@screen md {
  .wrapper--intro:before {
    @apply hidden;
  }
}

.wrapper--main {
  @apply bg-primary-130;
}

.wrapper--cta {
  background: linear-gradient(to bottom, var(--cl-primary-130) 0 50%, var(--cl-primary-090) 0 100%);
}

.wrapper--footer {
  @apply bg-primary-090;
}

.wrapper--intro *,
.wrapper--main * {
  @apply focus:ring-offset-primary-130;
}
.wrapper--cta * {
  @apply focus:ring-offset-primary-150;
}

.wrapper--footer * {
  @apply focus:ring-offset-primary-090;
}

/* Layour - Header */

header {
  @apply w-full mx-auto;
  @apply flex flex-row justify-between gap-4;
  @apply items-center;
}

.logo {
  min-width: 70px;
  @apply w-3/12;
}

.logo a {
  @apply block w-full;
  max-width: max-content;
}

/* Layour - Nav */

nav {
  width: clamp(10rem, 40vw, 15rem);
}

.site-nav {
  @apply block;
  @apply flex flex-row justify-between gap-1;
}

.site-nav__item {
  @apply block;
  @apply capitalize;
  @apply hover:text-white hover:underline;
  @apply active:no-underline;
  @apply text-xs xs:text-sm;
}

.site-nav__item:not(:hover) {
  @apply focus:text-white focus:no-underline;
}

/* Layout - Main - Intro */

.intro {
  @apply my-10 lg:my-0;
  @apply container mx-auto;
  @apply max-w-xs md:max-w-lg;
}

.intro__draw {
  @apply w-full max-w-xs;
}
.intro__heading {
  @apply max-w-xs md:max-w-sm mx-auto;
}
.intro__description {
  width: 55ch;
  @apply max-w-2xs md:max-w-xs lg:max-w-sm mx-auto;
}

/* Layout - Main - Features */
.features {
  @apply my-52 container mx-auto;
  @apply grid grid-cols-1;
  @apply gap-y-36;
}

.feature {
  @apply relative;
}

.feature:before {
  content: "";
  @apply absolute w-16 h-16;
  @apply flex;
  inset: 0 50%;
  transform: translate(-50%, -130%);
  background: center / contain no-repeat;
}

.feature--access-anywhere:before {
  background-image: var(--icon-access-anywhere);
}

.feature--security:before {
  background-image: var(--icon-security);
}

.feature--collaboration:before {
  background-image: var(--icon-collaboration);
}
.feature--any-file:before {
  background-image: var(--icon-any-file);
}

.feature__description {
  max-width: 40ch;
  @apply mx-auto;
}

/* Layout - Main - SpotFeature */

.spot-feature {
  @apply -mt-28 container mx-auto;
}

.spot-feature__img {
  @apply my-10;
}

.spot-feature__content {
  @apply text-left;
}

.spot-feature__link {
  @apply w-max;
  @apply text-xs text-accent-1-600 align-bottom text-center;
  @apply pb-1 border-b-2 border-current;
  @apply flex gap-x-2 items-center;
  @apply hover:text-white;
  @apply focus:border-0;
  @apply active:font-bold;
}

.spot-feature__link:after {
  content: "";
  background: var(--icon-arrow) center / contain no-repeat;
  @apply inline-block w-4 h-4;
}

.spot-feature__link:hover:after {
  @apply filter saturate-0 contrast-200;
}

/* Layout - Main - Testimonials */

.testimonials {
  @apply my-40 relative w-max container mx-auto;
  @apply grid grid-cols-1 gap-y-6 justify-items-center;
}

.testimonials:before {
  content: "";
  @apply absolute w-5 h-5;
  inset: 0px 0.3rem;
  transform: translatey(-100%);
  background: var(--icon-quotes) bottom left / contain no-repeat;
}

/* Layout - Main - CTA */

.cta {
  @apply container mx-auto;
  @apply bg-primary-150 rounded-xl filter drop-shadow-2xl;
  @apply p-6;
}

.cta__description {
  max-width: 40ch;
  @apply mx-auto;
}
/* Layout - Main - Footer */

footer {
  @apply my-8 mb-20;
  @apply text-left text-base;
}

.footer__logo {
  @apply ml-2 w-max;
}

.contacts {
  @apply space-y-2 my-5;
}
.contact {
  @apply inline-block my-0;
  @apply flex gap-x-4 items-center;
  @apply hover:text-white;
}

.contact--phone,
.contact--email {
  @apply w-max text-sm;
}

.contact:before {
  content: "";
  @apply inline-block;
  min-width: 1.1rem;
  height: 2rem;
  filter: contrast(200%);
}

.contact--location:before {
  @apply self-start;
  background: var(--icon-location) center / contain no-repeat;
}

.contact--phone:before {
  background: var(--icon-phone) center / contain no-repeat;
}

.contact--email:before {
  background: var(--icon-email) center / contain no-repeat;
}

.footer-nav {
  @apply my-20 space-y-10;
}

.footer-nav ul {
  @apply space-y-4;
}

.footer-nav__item {
  @apply hover:text-white hover:font-bold;
}

.social-nav {
  @apply w-max mx-auto block space-x-2;
}

.social-nav__item {
  @apply inline-block w-7 h-7 leading-7;
  @apply text-center align-middle;
  @apply rounded-full border;
  @apply hover:text-accent-1-600 hover:border-accent-1-600;
}
