/* Theme */

:root {
  --cl-primary-090: hsl(216, 53%, 9%); /* footer background */
  --cl-primary-130: hsl(218, 28%, 13%); /* main background */
  --cl-primary-150: hsl(217, 28%, 15%); /* intro and email sign up background */
  --cl-primary-180: hsl(219, 30%, 18%); /* testimonials background */
  --cl-accent-1-500: hsl(198, 60%, 50%); /* inside call-to-action gradientcl */
  --cl-accent-1-600: hsl(176, 68%, 64%); /* inside call-to-action gradient */
  --cl-accent-2-600: hsl(0, 100%, 63%); /* light red for errors */

  --cl-neutral-900: hsl(219, 30%, 90%);
  --cl-white: hsl(0, 0%, 100%);

  --ff-primary: "Open Sans", theme(fontFamily.sans);
  --ff-display: "Raleway", theme(fontFamily.sans);

  --bg-curvy-desktop: url("~assets/bg/curvy-desktop.svg");
  --bg-curvy-mobile: url("~assets/bg/curvy-mobile.svg");

  --icon-arrow: url("~assets/icons/arrow.svg");
  --icon-any-file: url("~assets/icons/any-file.svg");
  --icon-access-anywhere: url("~assets/icons/access-anywhere.svg");
  --icon-collaboration: url("~assets/icons/collaboration.svg");
  --icon-email: url("~assets/icons/email.svg");
  --icon-location: url("~assets/icons/location.svg");
  --icon-phone: url("~assets/icons/phone.svg");
  --icon-quotes: url("~assets/icons/quotes.png");
  --icon-security: url("~assets/icons/security.svg");
}

/* Reset */

* {
  @apply focus:outline-none focus:ring-1 focus:ring-white focus:ring-offset-primary-130 focus:ring-offset-8 focus:rounded-sm;
  @apply active:ring-0 active:ring-offset-0;
}

a {
  @apply inline-block;
}

img {
  @apply my-4;
  @apply inline-block;
  @apply object-contain;
}

/* Typograpyhy */

h1,
h2,
h3 {
  @apply font-display;
}

h2 {
  @apply my-4;
  @apply font-display text-2xl font-bold leading-normal;
}

h3 {
  @apply my-2;
  @apply font-display text-lg font-bold leading-normal;
}

p {
  @apply my-4 mx-auto;
}

.features p {
  max-width: 40ch;
}

/* Components - Buttons */

.btn {
  @apply w-max my-4;
  @apply py-4 px-20;
  @apply bg-accent-1-500 hover:bg-accent-1-600 active:bg-accent-1-500;
  @apply font-primary text-sm text-white font-bold;
  @apply rounded-3xl;
  @apply filter drop-shadow-3xl active:drop-shadow-none focus:drop-shadow-none;
}

/* Components - Cards */

.testimonial {
  width: clamp(40ch, 100vw, 48ch);
  @apply py-6 px-5 h-40;
  @apply grid grid-cols-1 items-center;
  @apply text-2xs text-left leading-loose;
  @apply bg-primary-180 shadow-xl rounded-md;
}

.testimonial__quote {
  max-width: 40ch;
}

.testimonial__reviewer {
  @apply mt-3 grid gap-x-2 gap-y-1 items-center self-start;
  grid: auto-flow 1.1rem / auto 1fr;
  @apply tracking-widest align-middle;
}

.reviewer__avatar {
  @apply w-6 rounded-full;
}

.reviewer__info {
  @apply space-y-1;
}

.reviewer__name {
  @apply block font-bold leading-none capitalize text-white;
}

.reviewer__work {
  @apply block leading-none text-3xs;
}

/* Layout - Wrapper */

body {
  @apply bg-primary-130;
  @apply min-h-screen;
  @apply font-primary text-sm text-center leading-relaxed;
  @apply text-neutral-900;
}

.wrapper {
  @apply container mx-auto px-5;
  @apply py-8;
}

/* Layour - Header */

header {
  @apply w-full;
  @apply flex flex-row justify-between gap-4;
  @apply items-center;
}

.logo {
  min-width: 70px;
  @apply w-3/12;
}

.logo a {
  width: 100%;
  max-width: max-content;
}

/* Layour - Nav */

nav {
  width: clamp(160px, 50vw, 20rem);
}

.site-nav {
  @apply block;
  @apply flex flex-row justify-between gap-1;
}

.site-nav__item {
  @apply block;
  @apply text-xs capitalize;
  @apply hover:text-white hover:underline;
  @apply active:no-underline;
  @apply focus:text-white focus:no-underline;
}

/* Layout - Main - Hero */

.hero {
  @apply my-10;
}

/* Layout - Main - Features */
.features {
  @apply my-52;
  @apply grid grid-cols-1;
  @apply gap-y-36;
}

.feature {
  @apply relative;
}

.feature:before {
  content: "";
  @apply absolute w-16 h-16;
  @apply flex;
  inset: 0 50%;
  transform: translate(-50%, -130%);
  background: center / contain no-repeat;
}

.feature--access-anywhere:before {
  background-image: var(--icon-access-anywhere);
}

.feature--security:before {
  background-image: var(--icon-security);
}

.feature--collaboration:before {
  background-image: var(--icon-collaboration);
}
.feature--any-file:before {
  background-image: var(--icon-any-file);
}

/* Layout - Main - SpotFeature */

.spot-feature {
  @apply -mt-28;
}

.spot-feature__img {
  @apply my-10;
}

.spot-feature__headline {
  @apply my-2;
  @apply text-lg;
}

.spot-feature__content {
  @apply text-left;
}

.spot-feature__link {
  @apply w-max;
  @apply text-xs text-accent-1-600 align-bottom;
  @apply pb-1 border-b-2 border-current;
  @apply flex gap-x-2 items-center;
  @apply hover:text-white;
  @apply focus:border-0;
  @apply active:font-bold;
}

.spot-feature__link:after {
  content: "";
  background: var(--icon-arrow) center / contain no-repeat;
  @apply inline-block w-4 h-4;
}

.spot-feature__link:hover:after {
  @apply filter saturate-0 contrast-200;
}

/* Testimonial */

.testimonials {
  @apply my-44 relative w-max mx-auto;
  @apply grid grid-cols-1 gap-y-6 justify-items-center;
}

.testimonials:before {
  content: "";
  @apply absolute w-5 h-5;
  inset: 0px 0.3rem;
  transform: translatey(-100%);
  background: var(--icon-quotes) bottom left / contain no-repeat;
}
