/*********/
/* Theme */
/*********/

:root {
  --cl-primary-090: hsl(216, 53%, 9%); /* footer background */
  --cl-primary-130: hsl(218, 28%, 13%); /* main background */
  --cl-primary-150: hsl(217, 28%, 15%); /* intro and email sign up background */
  --cl-primary-180: hsl(219, 30%, 18%); /* testimonials background */
  --cl-accent-1-500: hsl(198, 60%, 50%); /* inside call-to-action gradientcl */
  --cl-accent-1-600: hsl(176, 68%, 64%); /* inside call-to-action gradient */
  --cl-accent-2-600: hsl(0, 100%, 63%); /* light red for errors */

  --cl-neutral-400: hsl(220, 9%, 46%);
  --cl-neutral-900: hsl(219, 30%, 90%);
  --cl-white: hsl(0, 0%, 100%);

  --ff-primary: "Open Sans", theme(fontFamily.sans);
  --ff-display: "Raleway", theme(fontFamily.sans);

  --bg-curvy-desktop: url("~assets/bg/curvy-desktop.svg");
  --bg-curvy-mobile: url("~assets/bg/curvy-mobile.svg");

  --icon-arrow: url("~assets/icons/arrow.svg");
  --icon-any-file: url("~assets/icons/any-file.svg");
  --icon-access-anywhere: url("~assets/icons/access-anywhere.svg");
  --icon-collaboration: url("~assets/icons/collaboration.svg");
  --icon-email: url("~assets/icons/email.svg");
  --icon-location: url("~assets/icons/location.svg");
  --icon-phone: url("~assets/icons/phone.svg");
  --icon-quotes: url("~assets/icons/quotes.png");
  --icon-security: url("~assets/icons/security.svg");
}
/********/
/* Base */
/********/

/* Base - Elements */

* {
  @apply focus:outline-none focus:ring-1 focus:ring-white focus:ring-offset-primary-130 focus:ring-offset-8 focus:rounded-sm;
  @apply active:ring-0 active:ring-offset-0;
}

a {
  @apply inline-block;
}

img {
  @apply my-4;
  @apply inline-block;
  @apply object-contain;
}

/* Base - Typograpyhy */

h1,
h2,
h3 {
  @apply font-display;
}

h2 {
  @apply my-4;
  @apply font-display text-2xl font-bold leading-normal;
}

h3 {
  @apply my-2;
  @apply font-display text-lg font-bold leading-normal;
}

p {
  @apply my-4 mx-auto;
}

input {
  @apply appearance-none;
  @apply bg-white text-gray-900;
  @apply border border-neutral-400 rounded-none;
  @apply py-2 px-3;
}

input:not(:placeholder-shown):focus {
  @apply ring-0 ring-offset-0;
}

/********************/
/* Custom Utilities */
/********************/

.h-sm {
  @apply my-2;
  @apply text-lg;
}

.max-ch-40 {
  max-width: 40ch;
}

/**************/
/* Components */
/**************/

/* Components - Buttons */

.btn {
  @apply w-max my-4 min-w-max;
  @apply py-4 px-20;
  @apply bg-accent-1-500 hover:bg-accent-1-600 active:bg-accent-1-500;
  @apply font-primary text-sm text-white font-bold capitalize;
  @apply rounded-3xl;
  @apply filter drop-shadow-3xl active:drop-shadow-none focus:drop-shadow-none;
}

/* Components - Email Form */

.email__form {
  @apply w-full mt-6 flex flex-col;
}

.email__field {
  @apply relative;
}

.email__input {
  @apply w-full py-4;
  @apply rounded-3xl;
  @apply text-center;
}

.email__error {
  @apply hidden absolute;
  @apply text-accent-2-600 text-xs font-bold pb-1;
  inset: auto 0 100%;
}

.email__input:not(:placeholder-shown):invalid ~ .email__error {
  @apply block;
}

.email__submit {
  @apply w-full px-2;
}

/* Components - Testimonial cards */

.testimonial {
  width: clamp(40ch, 100vw, 48ch);
  @apply py-6 px-5 h-40;
  @apply grid grid-cols-1 items-center;
  @apply text-2xs text-left leading-loose;
  @apply bg-primary-180 shadow-xl rounded-md;
}

.testimonial__quote {
}

.testimonial__reviewer {
  @apply mt-3 grid gap-x-2 gap-y-1 items-center self-start;
  grid: auto-flow 1.1rem / auto 1fr;
  @apply tracking-widest align-middle;
}

.reviewer__avatar {
  @apply w-6 rounded-full;
}

.reviewer__info {
  @apply space-y-1;
}

.reviewer__name {
  @apply block font-bold leading-none capitalize text-white;
}

.reviewer__work {
  @apply block leading-none text-3xs;
}

/* Layout - Wrappers */

body {
  @apply bg-primary-150;
  @apply min-h-screen;
  @apply font-primary text-sm text-center leading-relaxed;
  @apply text-neutral-900;
}

.wrapper {
  @apply flex flex-col justify-center px-5 py-4;
}

.wrapper--intro {
  position: relative;
  background: linear-gradient(to top, var(--cl-primary-130) 0 45%, transparent 0);
}

.wrapper--intro:before {
  display: block;
  position: absolute;
  bottom: 44%;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  content: "";
  background: var(--bg-curvy-desktop) bottom center / contain no-repeat;
}

.wrapper--main {
  @apply bg-primary-130;
}

.wrapper--cta {
  background: linear-gradient(to bottom, var(--cl-primary-130) 0 50%, var(--cl-primary-090) 0 100%);
}

.wrapper--footer {
  @apply bg-primary-090;
}

/* Layour - Header */

header {
  @apply w-full mx-auto;
  @apply flex flex-row justify-between gap-4;
  @apply items-center;
}

.logo {
  min-width: 70px;
  @apply w-3/12;
}

.logo a {
  width: 100%;
  max-width: max-content;
}

/* Layour - Nav */

nav {
  width: clamp(160px, 50vw, 20rem);
}

.site-nav {
  @apply block;
  @apply flex flex-row justify-between gap-1;
}

.site-nav__item {
  @apply block;
  @apply text-xs capitalize;
  @apply hover:text-white hover:underline;
  @apply active:no-underline;
  @apply focus:text-white focus:no-underline;
}

/* Layout - Main - Intro */

.intro {
  @apply my-10 container mx-auto;
}

/* Layout - Main - Features */
.features {
  @apply my-52 container mx-auto;
  @apply grid grid-cols-1;
  @apply gap-y-36;
}

.feature {
  @apply relative;
}

.feature:before {
  content: "";
  @apply absolute w-16 h-16;
  @apply flex;
  inset: 0 50%;
  transform: translate(-50%, -130%);
  background: center / contain no-repeat;
}

.feature--access-anywhere:before {
  background-image: var(--icon-access-anywhere);
}

.feature--security:before {
  background-image: var(--icon-security);
}

.feature--collaboration:before {
  background-image: var(--icon-collaboration);
}
.feature--any-file:before {
  background-image: var(--icon-any-file);
}

/* Layout - Main - SpotFeature */

.spot-feature {
  @apply -mt-28 container mx-auto;
}

.spot-feature__img {
  @apply my-10;
}

.spot-feature__content {
  @apply text-left;
}

.spot-feature__link {
  @apply w-max;
  @apply text-xs text-accent-1-600 align-bottom;
  @apply pb-1 border-b-2 border-current;
  @apply flex gap-x-2 items-center;
  @apply hover:text-white;
  @apply focus:border-0;
  @apply active:font-bold;
}

.spot-feature__link:after {
  content: "";
  background: var(--icon-arrow) center / contain no-repeat;
  @apply inline-block w-4 h-4;
}

.spot-feature__link:hover:after {
  @apply filter saturate-0 contrast-200;
}

/* Layout - Main - Testimonials */

.testimonials {
  @apply my-44 relative w-max container mx-auto;
  @apply grid grid-cols-1 gap-y-6 justify-items-center;
}

.testimonials:before {
  content: "";
  @apply absolute w-5 h-5;
  inset: 0px 0.3rem;
  transform: translatey(-100%);
  background: var(--icon-quotes) bottom left / contain no-repeat;
}

/* Layout - Main - CTA */

.cta {
  @apply my-36 container mx-auto;
  @apply bg-primary-150 rounded-xl filter drop-shadow-2xl;
  @apply p-6;
}
